* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(178, 178, 250);
    overflow-x: hidden;
}

.bg {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.conteiner {
    width: 1920px;
    min-height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
    grid-template-rows: 150px 1fr 200px;
    grid-template-columns: 1fr 4fr 1fr; 
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 150px 120px 120px;
}

.mainheader {
    display: grid;
    grid-template-areas: 
    "left right";
    grid-template-columns: 250px 1fr;
    column-gap: 15px;
    min-width: 1000px;
}

.mainheader-left {
    grid-area: left;
    align-self: end;
}

.mainheader-right {
    grid-area: right;
    align-self: end;
    padding-bottom: 18px;
}

.mainheader-right-list {
    display: grid;
    grid-template-areas:
    "viki viki viki viki viki" 
    "search characters university media community";
    grid-template-columns: 125px 115px 105px 75px 125px;
    grid-row-gap: 7px;
    grid-column-gap: 20px;
}

.header-nav-link {
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

.header-nav-link:hover {
    color: rgb(75, 75, 75);
    text-decoration: underline;
}

.header-nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.header-text {
    grid-area: viki;
    font-size: 25px;
    text-transform: none;
}

.one-nav {
    grid-area: search;
}

.one-nav .dropdown {
    display: block;
    position: relative;
}

.one-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 1;
    min-height: 30px;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    background-color: rgb(113, 113, 223);
}

.one-nav .dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
}

.header-nav .dropdown .dropdownbtn {
    color: black;
    transition-property: color;
    transition-duration: 0.4s;
}

.one-nav:hover .dropdown .dropdownbtn {
    color:rgb(75, 75, 75);
}

.one-nav:hover .dropdown .dropdown-content {
    display: block;
}

.one-nav .dropdown .dropdown-content a:hover {
    background-color: rgb(84, 84, 167);
}

.two-nav {
    grid-area: characters;
}

.two-nav .dropdown {
    display: block;
    position: relative;
}

.two-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 150px;
    right: 0px;
    background-color: rgb(113, 113, 223);
    min-height: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.two-nav .dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
}

.two-nav .dropdown .dropdown-content a:hover {
    background-color: rgb(84, 84, 167);
}

.two-nav:hover .dropdown .dropdown-content {
    display: block;
}

.two-nav:hover .dropdown .dropdownbtn {
    color: rgb(75, 75, 75);
}

.three-nav {
    grid-area: university;
}

.three-nav .dropdown {
    display: block;
    position: relative;
}

.three-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-height: 30px;
    min-width: 150px;
    right: 0px;
    background-color: rgb(113, 113, 223);
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; 
}

.three-nav .dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
}

.three-nav .dropdown .dropdown-content a:hover {
    background-color: rgb(84, 84, 167);
}

.three-nav:hover .dropdown .dropdownbtn {
    color: rgb(75, 75, 75);
}

.three-nav:hover .dropdown .dropdown-content {
    display: block;
}

.four-nav {
    grid-area: media;
}

.four-nav .dropdown {
    display: block;
    position: relative;
}

.four-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-height: 30px;
    min-width: 120px;
    right: 0px;
    background-color: rgb(113, 113, 223);
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; 
}

.four-nav .dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
}

.four-nav .dropdown .dropdown-content a:hover {
    background-color: rgb(84, 84, 167);
}

.four-nav:hover .dropdown .dropdownbtn {
    color: rgb(75, 75, 75);
}

.four-nav:hover .dropdown .dropdown-content {
    display: block;
}

.five-nav {
    grid-area: community;
}

.five-nav .dropdown {
    display: block;
    position: relative;
}

.five-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    min-height: 30px;
    min-width: 130px;
    right: 7px;
    background-color: rgb(113, 113, 223);
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1; 
}

.five-nav .dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    border-radius: 3px;
}

.five-nav .dropdown .dropdown-content a:hover {
    background-color: rgb(84, 84, 167);
}

.five-nav:hover .dropdown .dropdownbtn {
    color: rgb(75, 75, 75);
}

.five-nav:hover .dropdown .dropdown-content {
    display: block;
}

.header-nav .dropdown .dropdown-content a {
    text-transform: none;
}

.header-nav .dropdown .dropdownbtn::after {
    content: " ▾";
}

.header-nav:hover .dropdown .dropdownbtn::after {
    content: " ▴";
}

.hau-header-icon {
    width: 250px;
    display: block;
    position: relative;
    top: 10px;
    transition-duration: 0.2s;
}

.hau-header-icon:hover {
    width: 255px;
    top: 9px;
}

.leftheader, .rightheader {
    background-color: rgba(0, 0, 0, 0,);
}

a {
    text-decoration: none;
    color: black;
}

#sitebar-left {
    grid-area: left;
    background-color: rgba(0, 0, 0, 0,);
}

#sitebar-right {
    grid-area: right;
    background-color: rgba(0, 0, 0, 0,);
}

#main {
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    padding: 30px;
    min-width: 1200px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    "header1"
    "content";
    grid-template-rows: 70px 1fr;
}

.main .main-content {
    grid-area: content;
    border-radius: 7px;
    display: grid;
    grid-template-areas: 
    "main-article sitebar1";
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
}

.main .main-content .main-content-left {
    grid-area: main-article;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 390px 230px;
    grid-row-gap: 20px;
    min-width: 500px;
}

.main .main-content .main-content-left .main-article {
    display: block;
    background-color: whitesmoke;
    border: 2px solid rgb(113, 113, 223);
    border-radius: 6px;
    padding: 10px;
}

.main .main-content .main-content-left .main-article .main-article-header {
    display: flex;
    min-width: 500px;
    height: 50px;
    border: 3px solid rgb(113, 113, 223);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.main .main-content .main-content-left .main-article .main-article-content {
    min-width: 400px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-article-content-left {
    display: block;
    padding-top: 30px;
    padding-left: 10px;
}

.main-article-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.main-article-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-article-content-right h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.main-article-header h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(113, 113, 223);
}



.main .main-content .main-content-left .main-article-bottom {
    display: block;
    background-color: whitesmoke;
    min-width: 100px;
    min-height: 120px;
    padding: 10px;
    border: 2px solid rgb(113, 113, 223);
    border-radius: 7px;
}

.main-article-bottom .bottom-header {
    display: flex;
    min-width: 100px;
    height: 50px;
    border: 3px solid rgb(113, 113, 223);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.bottom-img {
    width: 100px;
    margin: 10px;
}

.bottom-img1 {
    width: 200px;
    margin: 20px;
}

.bottom-img2 {
    width: 70px;
    margin: 10px;
}

.main-article-bottom .bottom-main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.main-article-bottom .bottom-header h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(113, 113, 223);
}

.main .main-content .main-content-right {
    grid-area: sitebar1;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 165px 180px 180px;
    grid-row-gap: 20px;
    min-width: 300px;
}

.main .main-content .main-content-right .main-sitebar1 {
    display: block;
    background-color: whitesmoke;
    min-width: 100px;
    min-height: 120px;
    padding: 10px;
    border: 2px solid rgb(113, 113, 223);
    border-radius: 7px;
}

.sitebar1-header {
    display: flex;
    min-width: 100px;
    height: 50px;
    border: 3px solid rgb(113, 113, 223);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sitebar1-header h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(113, 113, 223);
}

.sitebar1-main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.main .main-content .main-content-right .main-sitebar2 {
    display: block;
    background-color: burlywood;
    padding: 10px;
    background-color: whitesmoke;
    border: 2px solid rgb(113, 113, 223);
    border-radius: 6px;

}

.main-sitebar2 .sitebar2-header h1 {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(113, 113, 223);
}

.sitebar2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(113, 113, 223);
    border-radius: 6px;
    height: 50px;
}

.main-sitebar2 .sitebar2-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.sitebar2-main h3 {
    position: relative;
    font-size: 20px;
    top: 10px;
}


.main .main-content .main-content-right .main-sitebar3 {
    display: block;
    background-color: blanchedalmond;
}

.main .main-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: header1;
    align-items: end;
    display: flex;
    align-items: end;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #3a3a3a;
}



.main .main-header h1 {
    display: block;
}

#footer {
    grid-area: footer;
    background-color: rgba(0,0,0,0);
    margin-top: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-text {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.footer-text .text {
    color: rgba(0,0,0,0.3);
}

.blue {
    color: rgb(113, 113, 223);
}

.blue1 {
    color: rgb(87, 87, 255);
}

@media (max-width: 1220px) {
    body {
        overflow-x: scroll;
    }
}

.red {
    color: red;
}

.ds-img {
    width: 200px;
}